<h1>Ma liste de Livres</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nom du Livre</th>
    </tr>
  </thead>
  <tbody>
    <% @mes_livres.each do |un_livre| %>
    <tr>
      <th scope="row">
        <p><%= un_livre.id %></p>
      </th>
      <td>
        <%= link_to un_livre.title, un_livre %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= form_tag "/books", method: "post" do %>
  <input type="text" name="title" />
  <input type="submit" value="Ajouter le livre" />
<% end %>
