
@import "bootstrap";

/* Concerne la notification d'ajout de livre */

#notice_wrapper{
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
    background: rgba(135, 216, 211, 0.85);
}

.notice{
  padding: 2.5rem 0;
  text-align: center;
  margin: 0;
  font-size: 1.25rem;
  font-weight: 700;
  color: #FFFFFFFF;
  letter-spacing: 1px;
}
